<div class="w3-container w3-card vdi-white-background w3-margin-bottom">
    <h2 class="w3-padding-16">
        <i class="fas fa-map-marked-alt w3-margin-right w3-xxlarge"></i>Kompetenzkarte
    </h2>
    <div class="vdi-white-background w3-round-xlarge vdi-star-rating">
        <h3>Suche</h3>
        <form novalidate="novalidate">
            <label>Skill: <input type="text" class="vdi-button vdi-blue-background vdi-boxed w3-round" ng-model="$ctrl.skill" /></label>
            <span class="w3-right">              
                <input type="button" class="vdi-blue-background w3-round" ng-click="$ctrl.search()" value="Show" />
            </span>
        </form>
        <h3>Karte</h3>
        <div id="mapid"></div>
    </div>
</div>