<!-- HTML-Template for the views angularJS module -->
<!-- The Grid -->
<div class="w3-row-padding"> 
    <!-- Show profile selection and logout in top right corner -->
    <div class="w3-display-topright">
      Profil
      <select class="vdi-select vdi-white-background w3-round" ng-change="$ctrl.loadProfile()" ng-model="$ctrl.user" ng-options="x for x in $ctrl.profiles"></select>
      <button class="vdi-button vdi-white-background w3-round" ng-click="$ctrl.logout()">Logout</button>
    </div> 
  <!-- Left Column -->
  <div class="w3-third">
  <!-- show profile data and skills in left third -->
    <div class="vdi-white-background w3-card-4">
      <div class="w3-display-container">
        <img ng-src="data:image/jpeg;charset=utf-8;base64, {{$ctrl.UserAvatar}}" style="width:100%" alt="Avatar" />
        <div class="w3-display-bottomleft w3-container vdi-white-background">
          <h2>{{$ctrl.UserData.name}}</h2>
        </div>
      </div>
      <div class="w3-container">
        <p><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-large vdi-white-background"></i><editable-field field-value="$ctrl.UserData.academia" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field></p>
        <p>
          <i ng-show="$ctrl.UserData.gender == 'Male'" class="fa fa-male fa-fw w3-margin-right w3-large vdi-white-background"></i>
          <i ng-show="$ctrl.UserData.gender == 'Female'" class="fa fa-female fa-fw w3-margin-right w3-large vdi-white-background"></i>
          <editable-field field-value="$ctrl.UserData.age" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field>
        </p>
        <hr />

        <p><h2><i class="fa fa-briefcase fa-fw w3-margin-right w3-large vdi-white-background"></i></h2></p>
        <p><editable-field field-value="$ctrl.UserData.job.jobtitle" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field></p>
        <p><editable-field field-value="$ctrl.UserData.job.companyName" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field></p>
        <p><editable-field field-value="$ctrl.UserData.job.companyDepartment" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field></p>
        <p>
          <editable-field field-value="$ctrl.UserData.job.street" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field>
          <editable-field field-value="$ctrl.UserData.job.number" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field>
        </p>
        <p>
          <editable-field field-value="$ctrl.UserData.job.zipcode" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field>
          <editable-field field-value="$ctrl.UserData.job.city" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field>
        </p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large vdi-white-background"></i><editable-field field-value="$ctrl.UserData.job.email" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field></p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large vdi-white-background"></i><editable-field field-value="$ctrl.UserData.job.phone" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field></p>
        <hr />
        <p><h2><i class="fa fa-home fa-fw w3-margin-right w3-large vdi-white-background"></i></h2></p>
        <p>
          <editable-field field-value="$ctrl.UserData.private.street" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field>
          <editable-field field-value="$ctrl.UserData.private.number" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field>
        </p>
        <p>
          <editable-field field-value="$ctrl.UserData.private.zipcode" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field>
          <editable-field field-value="$ctrl.UserData.private.city" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field>
        </p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large vdi-white-background"></i><editable-field field-value="$ctrl.UserData.private.email" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field></p>
        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large vdi-white-background"></i><editable-field field-value="$ctrl.UserData.private.phone" editable="$ctrl.editable" field-type="text" on-update="$ctrl.updateProp(value)"></editable-field></p>
        <hr />

        <p class="w3-large">
          <b><i class="fa fa-asterisk fa-fw w3-margin-right vdi-white-background"></i>Skills</b>
          <button class="fa fa-plus vdi-button-symbol" ng-show="$ctrl.editable" ng-click="$ctrl.addSkill()"></button>
        </p>
        <skill-list skills="$ctrl.UserData.competencies" editable="$ctrl.editable" on-save="$ctrl.save()"></skill-list>
      </div>
    </div><br />

  <!-- End Left Column -->
  </div>

  <!-- Right Column -->
  <div class="w3-twothird">
  <!-- Show other data in righ 2 thirds -->
    <couch-view user-id="$ctrl.user" editable="$ctrl.editable"></couch-view>
    
    <div class="w3-container w3-card vdi-white-background">
      <h2 class="w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge"></i>Education</h2>
      <div class="w3-container">
        <h5><b>W3Schools.com</b></h5>
        <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
        <p>Web Development! All I need to know in one place</p>
        <hr />
      </div>
      <div class="w3-container">
        <h5><b>London Business School</b></h5>
        <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
        <p>Master Degree</p>
        <hr />
      </div>
      <div class="w3-container">
        <h5><b>School of Coding</b></h5>
        <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
        <p>Bachelor Degree</p><br />
      </div>
    </div>

  <!-- End Right Column -->
  </div>
  
<!-- End Grid -->
</div>